/* .contenedor{
  display: grid;
  grid-template-columns: 70% 30%;
} */

/* .principal{
  grid-column: 1/2;
  background-color:rgb(177, 253, 228); */
  /* height: 100vw; */
/* } */
/* 

.tarjetas{
  grid-column: 2/3;
  background-color: rgb(184, 238, 251);
  height: 100vw;
} */


